*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{ 
height:100vh;
background-color: #f0f2f5;
}
  
.main{
    display:flex;
    flex-direction:row;
    font-family:"Poppins", sans-serif;
    flex-wrap: wrap;
}

.caption{
    padding-left:40px;
    margin-top:-20px;
    font-size:28px;
    font-weight: thin;
    font-family: "Poppins", sans-serif;
}

.left{
    height:100vh;
    width:50%;
    /*background-color: aqua;*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.right{
    height:100vh;
    width:50%;
   /* background-color: yellow;*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

form{    
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    width:375px;
    height:350px;
}

.login{
    background-color: white;
    border:none;
    border-radius:8px;
    height:350px;
    width:400px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

input{
    border:1px solid #dddfe2;
    height:50px;
    border-radius: 5px;
    /*border-width:0.5px;*/
    font-size:18px;
    padding-left:10px;
}

input:hover
{
    border-color: lightblue;
    border-width:2px;
    cursor:pointer;
}

.loginbtn{
    color:white;
    font-weight:bolder;
    background-color:blue;
    border-width:0;
}

.ca{
    display:flex;
    justify-content: center;
}
.createaccount{
    background-color: rgb(72, 204, 72);
    color:white;
    width:200px;
    font-weight:bolder;
    border:none;
    text-align:center;
}

.fp{
    text-align: center;
    color:rgb(0, 60, 255);
    text-decoration: none;
}

.itemsleft{
    /*background-color: palegreen;*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:30px;
}

img{
    padding:0;
    margin:0;
width:400px;
min-width:200px;
}

p{
    margin-top:25px;
}

footer{
height:25vh;
background-color: white;
color:#8a8d91;
padding:1rem;
padding-bottom: 1rem;

}

.mainfooter{
    display:flex;
    flex-direction: column;
    justify-content: left;
}
ul{
    list-style-type: none;
}

li{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:5px;

}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.fline{
    height: 1px;
    color: solid #dddfe2;
    
    
}
.lang{
    display:flex;
    justify-content: left;
    flex-direction: row;
}
.bottom{
    padding:10px;
}
.top{
    padding:10px;
}

.blist{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: row;
}


@media(max-width:830px)
{
   .main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } 

  .left
  {
    height:auto;
    display:flex;
    justify-content:center;

  }
   .right{
    margin-top:4vh;
    height:auto;
   }
   .itemsleft{
    justify-content: center;
    align-items: center;
    padding-left:0px;
    margin-left: 0px;
   }
}


