*{
    margin:0;
    padding:0;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  

body{ 
height:100%;
display:flex;
justify-content:center;
align-items: center;
flex-direction: column;
background-color: rgb(222,220,224);
}
.main{
    margin:10px 20px;
    display:flex;
    flex-direction: row;
    font-family:Roboto sans-serif;
   /* align-items: center;*/
    /*justify-content: center;*/
}

.left{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

h1{
    color:royalblue;
    font-size: 85px;
}

.right{
    width:60%;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
}

.login{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color:white;
    height:350px;
    width: 450px;
    border-radius: 10px;
    margin-top:100px;
   
}

form{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    padding:15px opx;

}

input{
    width:380px;
    height:50px;
    margin:10px 0px;
    padding:0px 10px;
border:1px solid grey;
font-size:18px;
border-radius:10px;
}

a{
    color:rgb(10, 104, 247);
}

.sub{
    background-color:royalblue;
    color:white;
    font-weight: bolder;
    width:380px;
    height:50px;
    /*margin:10px 0px;*/
    padding:0px 10px;

font-size:18px;
border-radius:10px;
    
}

.createaccount{
    background-color: rgb(72, 204, 72);
    color:white;
    width:200px;
    height:50px;
    font-size:16px;
    font-weight:bolder;
    border-radius:10px;
}
hr{
    /*border:0.1px solid rgb(145, 145, 145);*/
    width:370px;  
    margin-top:5px;
}
.createpage{
    margin-top: 20px;
    
}